<h1 class="layout--title">Berlin Code of Conduct</h1>
<p class="layout--sub-title">A Code of Conduct for all User Groups and Conferences</p>
<section class="text">
  <%= partial 'code-of-conduct' %>
</section>
<section class="supporters">
  <h2 class="supporters--title">Supporters</h2>
  <p class="supporters--sub-title">Those user groups and conferences support the Berlin Code of Conduct:</p>
  <ul class="supporters--list">
    <% (data.supporters.usergroups + data.supporters.conferences).each do |supporter| %>
      <li class="supporters--item">
        <h3 class="supporters--item-name"><%= supporter.name %></h3>
        <div class="user group">
          <span class="supporters--item-location"><%= supporter.city %>/<%= supporter.country %></span>
          <%= link_to supporter.link.sub(%r(https?://), ''), supporter.link, class: 'supporters--item-link' %>
        </div>
        <ul class="supporters--contacts">
          <% supporter.contacts.each do |contact| %>
            <li class="supporters--contacts-item">
              <%= contact.name %>
              <% %w(email phone).each do |medium| %>
                <% unless contact.send(medium).empty? %>
                  <span class="supporters--contacts-item-<%= medium %>"><%= contact.send(medium) %></span>
                <% end %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
  <p class="supporters--add">
    To list your user group/conference here, just add it in a pull request to <%= link_to 'our repository', 'https://github.com/rubyberlin/code-of-conduct#readme', class: 'supporters--add-link' %>.
  </p>
</section>

<footer class="text">
  <p>
    This code of conduct is adapted from the
    <a href="//pdxruby.org/codeofconduct" class="original-link">pdx.rb code of
      conduct</a>.
  </p>
</footer>

